<div id="content">
  <div id="themes"></div>
  <div id="themes-descr">
    Clicking the Topics button opens the topic overview.
    After selecting the desired topic, all assigned maps are loaded.
  </div>

  <div id="search"></div>
  <div id="search-descr">
    Search for a place, an address, a map or a geographical data.
  </div>

  <div id="menu"></div>
  <div id="menu-descr">
    This menu contains advanced functions such as printing, drawing, language, 3D view, etc...
  </div>

  <div id="basemap"></div>
  <div id="basemap-descr">
    Here, you can choose which background layers you want to use.
  </div>
</div>