:host, #panel {
  min-width: 18rem;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
}

#gutter {
  border: none;
  width: 6px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

#close {
  border: solid 1px #999;
  border-right: none;
  color: #999;
  padding: 0.7rem 0 0.7rem 0.5rem;
  border-radius: 10px 0  0 10px;
  width: 0.8rem;
  height: 2rem;
  line-height: 2rem;
  position: fixed;
  top: 5.8rem;
  right: 20rem;
  background-color: #fff;
  cursor: pointer;
}

#close i:before {
  content: "\f00d";
}

#close:hover {
  border-color: #000;
  color: #000;
}

#content {
  position: absolute;
  top : 0;
  left: 6px;
  right: 0;
  bottom: 0;
  background : #fff;
  padding : 1.5rem;
  margin: 0;
  overflow: visible;
}

#content button {
  border: solid 1px #fff;
  color: #777;
  height: 2.4rem;
  width: 2.4rem;
  text-align: left;
  padding: 0;
  padding-left: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

#content button:hover {
    border: solid 1px #444;
}

#content button.selected {
  border: solid 1px #444;
  background-color: #444;
  color: #fff;
}

#drawingList {
  min-height: 5rem;
  background-color: #fff;
  padding-top: 2rem;
  margin-right: 1rem;
}

#drawingList div.girafe {
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  border: solid 1px #999;
  text-align: left;
  width: 100%;
  max-width: 16rem;
  min-width: 13rem;
  color: #666;
}

#drawingList div.girafe:hover {
  color: #000;
}

#drawingList input.name {
  display:block;
  border:none;
}

#drawingList i {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  display: inline;
}

#drawingList .text-opts {
  position: absolute;
  right: 0;
  top: 0.5rem;
}

input.slider {
  position: relative;
  width: 6rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}