#themes {
    display: none;
    width: 50rem;
    margin-top: 0;
}

button {
    border: none;
    width: 4rem;
    height: 4.6rem;
    background-color: #444;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}

div.hidden {
    display: none;
}

button:hover {
    background-color: #000;
}

ul {
    border: solid 1px #444;
    border-radius: 3px;
    background-color: #fff;
    padding: 1rem;
}
ul div {
    display: inline-block;
    width: 9rem;
    cursor: pointer;
    margin: 0.5rem;
}

ul div img {
    width: 9rem;
}

ul div span {
    display: inline-block;
    width: 9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}