<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />

<div id="searchbox">
  <input id="search" length="20" maxlength="1000" autocomplete="off" autocorrect="off" i18n="Search" placeholder="Search..." />
  <a id="searchIcon" href="#" title="Geogirafe search"><i class="fa-solid fa-magnifying-glass"></i></a>
  <div id="results"></div>
</div>


